body {
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

#holder {
  background-color: rgb(1, 12, 8);
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 2px 0px 2px 3px rgba(248, 184, 6, 0.4);
}
h2 {
  margin-right: 20px;
}

#buttons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
button {
  background-color: rgb(1, 12, 8);
  color: whitesmoke;
  padding: 7px;
  font-size: 20px;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 0px;
}

@media screen and (max-width: 480px) {
  #holder {
    padding: 0.7rem;
  }
  h2 {
    margin-right: 8px;
    font-size: 16px;
  }

  #buttons {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
  }
  button {
    background-color: rgb(1, 12, 8);
    color: whitesmoke;
    padding: 7px;
    font-size: 20px;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 0px;
  }
}
